body{
  border: 1px solid blue;
  font-size: 16px; /*1em*/
  margin: 0 auto;
  max-width: 1024px;
}

header{
  background: #b3d8eb;
}

/*
  ID = #
  Class = .
*/
#logo{
  margin-top: -150px;
}

header nav{
  background: #0e6cb0;
  margin: 0 auto;
  width: 99%;
  border-radius: 5px;
  padding: 2px 0px 2px 0px;
}

header nav ul li{
  color: white;
  display: inline-block;
  margin-right: 20px;
}

form{
  float: right;
  margin-top: -35px;
  margin-right: 5px;
}

form input{
  border-radius: 5px;
}

form input[type="button"]{
  background: green;
  color: white;
}
/*
Para mover el contenido se usa el text align
Para mover la caja es el margin 0 auto
*/
#seccion01 article{
  /*border: 1px solid red;*/
  text-align: center;
}

#seccion01 article img{
  border: 5px solid rgba(111,111,111,0.2);
  width: 98%;
  margin-top: 10px;
}

#seccion02 article{
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.unaSeccion{
  font-size: 4.5em;
  font-family: 'Oswald', sans-serif;
}

.otraSeccion{
  font-size: 2.5em;
  font-family: 'Source Sans Pro', sans-serif;
}

.otraSeccion,.unaSeccion{
  font-weight: bold;
}

#seccion02 article input[type="submit"]{
  color: blue;
  margin-left: 48%;
}
